@charset "UTF-8";

:root {
  --verde: rgb(3, 216, 3);
  --branco: white;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
  header {
  background-color: var(--verde);
  width: 100vw;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.247);
}

header h1 {
  text-align: center;
  font-size: 1.5em;
  padding: 5px;

}
main {
  margin: 5px;
  padding: 5px;
  margin-top: 15px;
  min-width: 200px;
  min-height: 400px;
}

main h2 {
  font-size: 1.1em;
  text-align: center;
}

main section {
  margin-top: 50px;
}

main section a {
  background-color: var(--verde);
  display: block;
  padding: 5px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}

footer {
  display: block;
  color: white;
  height: 10vh;
  padding: 10px;
  margin-top: 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.801);
}

footer p {
  margin-top: 10px;
}