@charset "UTF-8";


:root {
  --color1: #960080;
  --color2: #8C0046;
  --color3: #2d0042;
}

::-webkit-scrollbar {
  background-color: var(--color3);
}
::-webkit-scrollbar-thumb {
  background-color: var(--color2);
}


* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  height: 100vh;
  background-image: linear-gradient(to bottom right, var(--color3) 20%, var(--color1));

}

h1, h2, h3 {
  font-family: 'Times New Roman', Times, serif;
}
a {
  text-decoration: none;
}
header {
  position: relative;
  background-color: var(--color2);
  color: white;
  width: 100vw;
  height: 60px;
}


header img#icone-votacao {
  position: absolute;
  top: 45%;
  left: 5px;
  display: inline-block;
  margin: 5px;
  height: 20px;
  width: 20px;
  transform: translate(0%, -50%);
}

header h1 {
  position: absolute ;
  display: inline-block;
  top: 50%;
  font-size: 1.5em;
  padding: 5px;
  margin-left: 25px;
  transform: translate(0%, -50%);
}

header meu span #menuIndicador {
  width: 100vh;
}

header menu span#lMeioMenuIndicador {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 90%;
  width: 25px;
  height: 3px;
  z-index: 11;
  transition:  0.5s;
  transform: translateY(-50%);
}

header menu span#lCimaMenuIndicador {
  background-color: white;
  position: absolute;
  display: block;
  top: 40%;
  left: 90%;
  width: 25px;
  height: 3px;
  transition: 0.5s;
  transform: translateY(-50%);
  z-index: 11;
}

header menu span#lBaixoMenuIndicador {
  background-color: white;
  position: absolute;
  display: block;
  top: 60%;
  left: 90%;
  width: 25px;
  height: 3px;
  z-index: 11;
  transition: 0.5s;
  transform: translateY(-50%);

}

header ul.menu-aberto {
  background-color: #8c0046e2;
  display: none;
  position: fixed;
  padding: 10px;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 102vw;
  z-index: 10;
  overflow: hidden;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

header ul li {
  margin-top: 80px;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  display: block;
  list-style-type: none;
  text-align: center;

}

menu li a {
  color: white;
}


main section#sec1 {
  background-color: white;
  color: white;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.168);
  line-height: 30px;
  margin-top: 70px;
  height: 200px;
  padding: 10px;
  background-color: var(--color1);
}

main section#sec2 {
  margin-top: 220px;
  padding: 5px;
}

main a {
  color: white;
  background-color: var(--color1);
  border: 1px solid var(--color2);
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
  max-width: 350px;
  height: 60px;
  padding: 15px;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

footer {
  position: absolute;
  top: 98%;
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.801);
}

footer p {
  font-weight: bold;
  color: white; 
}

footer abbr {
  text-decoration: none;
}
