@charset "UTF-8";

:root {
  --verde: rgb(3, 216, 3);
  --branco: white;
  --verde-escuro: rgb(85, 185, 3);
}
* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

h1, h2, h3 {
  font-family: 'Times New Roman', Times, serif;
}

header {
  position: relative;
  background-color: var(--verde-escuro);
  color: white;
  width: 100vw;
  height: 40px;
}


header img#icone-votacao {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 10px;
  width: 25px;
  height: 37px;
}

header h1 {
  display: inline-block;
  margin-left: 60px;
  font-size: 1.5em;
  padding: 5px;
  padding-top: 5px;
  height: 45px;
  
}


footer {
  display: block;
  background-color: rgba(0, 0, 0, 0.801);
}

footer p {
  font-weight: bold;
  
}

footer abbr {
  text-decoration: none;
}